<h1>Products List</h1>
<table>
  <thead>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
  </thead>
  <tbody>

  </tbody>
  <% @products.each do |product| %>
    <tr>
      <td> <%= product.name %> </td>
      <td> <%= product.description %> </td>
      <td> <%= product.price %> </td>
      <td>
        <%= link_to "Show" %>
        <%= link_to "Update", edit_product_path(product)%>
        <%= link_to "Delete" %>
      </td>
    </tr>
  <% end %>

</table>
